.feats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 72px;

    @include lg {
        gap: 53px;
    }

    @include sm {
        grid-template-columns: unset;
        gap: 16px;
        margin-top: 40px;
    }
}

.feat {
    border-radius: 8px;
    padding: 20px 20px;
    display: flex;

    @include lg {
        padding: 20px 50px;
    }

    .feat-icon {
        width: 60px;
        display: flex;
        justify-content: flex-end;

        @include sm {
            width: 55px;
        }
    }

    .feat-info {
        html[dir='ltr'] & {
            margin-left: 22px;
        }

        html[dir='rtl'] & {
            margin-right: 22px;
        }
    }

    .feat-title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 8px;

        @include sm {
            font-size: 18px;
        }
    }

    .feat-desc {
        font-size: 16px;

        @include sm {
            font-size: 14px;
        }
    }

    &:first-of-type {
        background-color: rgba($green, 0.1);
        color: $green;
        fill: $green;

        .feat-desc {
            color: $green-desc;
        }
    }

    &:nth-of-type(2) {
        background-color: rgba($blue, 0.1);
        color: $blue;
        fill: $blue;

        .feat-desc {
            color: $blue-desc;
        }
    }

    &:last-of-type {
        background-color: rgba($red, 0.1);
        color: $red;
        fill: $red;

        .feat-desc {
            color: $red-desc;
        }
    }
}

.news-cont {
    padding: 19px 0;
    background-color: $back;
    margin-top: 28px;

    @include sm {
        padding: 31px 0;
    }
}

.contact-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md {
        flex-direction: column;
        justify-content: center;
    }

    @include sm {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.newsletter {
    display: flex;
    align-items: center;

    @include md {
        margin-bottom: 35px;
    }

    @include sm {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 35px;
        width: 100%;
    }
}

.news-title {
    font-size: 16px;
    color: $text;
    font-weight: bold;

    html[dir='ltr'] & {
        margin-right: 22px;

        @include sm {
            margin: 0 0 16px;
        }
    }

    html[dir='rtl'] & {
        margin-left: 22px;

        @include sm {
            margin: 0 0 16px;
        }
    }
}

.social-cont {
    display: flex;
    align-items: center;

    @include sm {
        flex-direction: column;
        align-items: flex-start;
    }
}

.social-title {
    font-size: 16px;
    color: $text;
    font-weight: bold;

    html[dir='ltr'] & {
        margin-right: 26px;

        @include sm {
            margin: 0 0 16px;
        }
    }

    html[dir='rtl'] & {
        margin-left: 26px;

        @include sm {
            margin: 0 0 16px;
        }
    }
}

.social {
    display: flex;
    align-items: center;
}

.social-link {
    background-color: $main;
    border: 1px solid $main;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    i {
        font-size: 20px;
        font-weight: normal;
    }

    html[dir='ltr'] & {
        margin-right: 14px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    html[dir='rtl'] & {
        margin-left: 14px;

        &:last-of-type {
            margin-left: 0;
        }
    }

    &:hover {
        color: $main;
        background-color: transparent;
    }
}

footer {
    margin-top: 47px;
    background-color: #fff;
    margin-bottom: 60px;

    .footer-logo {
        width: 135px;

        @include md {
            display: none;
        }
    }

    @include md {
        background-color: $back;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.footer {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);

    @include md {
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 13px;
    }

    @include xs {
        display: block;
        grid-template-columns: unset;
        gap: unset;
    }
}

.foot-header {
    font-size: 16px;
    color: $text;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.nav-foot-li {
    margin-bottom: 8px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.nav-foot-link {
    font-size: 16px;
    color: $footer;
    @include transition(all 0.3s ease-in-out);
    display: inline-flex;
    text-transform: capitalize;

    &:hover,
    &:focus {
        transform: translateX(-5px);
        color: $main;

        #{$ltr} & {
            transform: translateX(5px);
        }
    }
}

.payment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;

}

.copyright {
    display: flex;
    color: #D4D4D4;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #2a2a2a;
    padding: 13px;



    img {
        html[dir='ltr'] & {
            margin-left: 5px;
        }

        html[dir='rtl'] & {
            margin-right: 5px;
        }
    }

    .tasawk {

        &::before {
            content: "-";
            margin: 0 6px;
        }

        @include sm {
            margin: 5px 0 0;

            &::before {
                display: none;
            }
        }
    }

    @include sm {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}