.top-bar-cont {
    border-bottom: 0.5px solid $pro;

    @include sm {
        display: none;
    }
}

.top-hints {
    display: flex;
    align-items: center;
}

.top-hint {
    font-size: 12px;
    color: $black;
    display: flex;
    align-items: center;

    .hint-ico {
        html[dir='ltr'] & {
            margin-right: 8px;
        }

        html[dir='rtl'] & {
            margin-left: 8px;
        }
    }

    html[dir='ltr'] & {
        margin-right: 30px;
    }

    html[dir='rtl'] & {
        margin-left: 30px;
    }
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-links {
    display: flex;
    align-items: center;
}

.top-link {
    font-size: 12px;
    color: $text;
    @include transition(all 0.3s ease-in-out);

    &:hover,
    &:focus {
        color: $main;
    }

    html[dir='rtl'] & {
        margin-left: 27px;
    }

    html[dir='ltr'] & {
        margin-right: 27px;
    }
}

.country {
    display: flex;
    align-items: center;
}

.lang {
    color: $text;
    font-size: 12px;
    @include transition(all 0.3s ease-in-out);
    text-transform: capitalize;

    &:hover,
    &:focus {
        color: $main;
    }

    html[dir='ltr'] & {
        margin-left: 26px;
    }

    html[dir='rtl'] & {
        margin-right: 26px;
    }
}

.drop-cont {
    position: relative;
    text-transform: capitalize;

    &:hover {
        .top-anchor {
            color: $main;

            &::after {
                border-color: $main transparent transparent transparent;
            }
        }

        .top-dropdown {
            visibility: visible;
            opacity: 1;
        }
    }

    .top-anchor {
        line-height: 45px;
        display: flex;
        align-items: center;
        color: $text;
        font-size: 12px;
        cursor: pointer;
        @include transition(all 0.3s ease-in-out);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;


        @include xs {
            line-height: 30px;
        }

        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 3px 0 3px;
            border-color: $text transparent transparent transparent;
            margin-right: 4px;
            @include transition(all 0.3s ease-in-out);

            #{$ltr} & {
                margin-right: 0;
                margin-left: 4px;
            }
        }

        img {
            display: flex;
            margin-left: 4px;

            #{$ltr} & {
                margin-right: 4px;
                margin-left: 0;
            }
        }
    }

    .top-dropdown {
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translateX(50%);
        min-width: 120px;
        padding: 8px 9px 9px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 3px 14px #0000001A;
        border: none;
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
        z-index: 3;
        @include transition(all 0.3s ease-in-out);

        &:before {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-width: 6px;
            border-color: transparent transparent #fff;
            border-style: solid;
            top: -12px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }
    }

    .drop-anchor {
        border-bottom: 1px solid $pro;
        padding: 0 4px 6px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: $text;
        @include transition(all 0.3s ease-in-out);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;

        @include xs {
            justify-content: center;
        }

        &:last-of-type {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &:hover,
        &:focus {
            color: $main;
        }
    }
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 8px 0 8px;
    align-items: center;

    @include md {
        grid-template-columns: 1fr 1fr;
        padding: 8px 0 9px;
    }
}

.logo-div {
    display: flex;
    align-items: center;

    .mo-menu-icon {
        display: none;
        align-items: center;
        justify-content: space-between;
        fill: #535353;

        html[dir='ltr'] & {
            margin-right: 18px;
        }

        html[dir='rtl'] & {
            margin-left: 18px;
        }

        @include md {
            display: flex;
        }
    }
}

.logo {
    width: 85px;
    display: block;

    @include sm {
        width: 77px;
    }
}

.user-settings {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mo-user-icon {
    display: flex;
    align-items: center;
    color: $black;
    fill: $black;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;

    .mo-text {
        font-size: 14px;
        display: flex;
        align-items: center;

        html[dir='ltr'] & {
            margin-left: 6px;
        }

        html[dir='rtl'] & {
            margin-right: 6px;
        }

        @include md {
            display: none;
        }
    }

    &.mo-cart-icon {
        html[dir='ltr'] & {
            margin-left: 35px;

            @include md {
                margin: 0;
            }
        }

        html[dir='rtl'] & {
            margin-right: 35px;

            @include sm {
                margin: 0;
            }
        }
    }

    &:hover {
        color: $main;
        fill: $main;

        .mo-text {
            &::after {
                border-color: $main transparent transparent transparent;
            }
        }

        .count {
            transform: scaleX(-1);
        }
    }

    &.mo-log-icon {
        @include md {
            display: none;
        }
    }
}

.mo-log-anchor {
    display: flex;
    align-items: center;


    .mo-text {
        line-height: 30px;

        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 3px 0 3px;
            border-color: $black transparent transparent transparent;
            margin-right: 4px;
            @include transition(all 0.3s ease-in-out);

            #{$ltr} & {
                margin-right: 0;
                margin-left: 4px;
            }
        }
    }
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: $main;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    width: 17px;
    height: 17px;
    top: -6px;
    text-align: center;
    line-height: 17px;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;

    html[dir='ltr'] & {
        left: 5px;
    }

    html[dir='rtl'] & {
        right: 2px;
    }
}

.mo-search-icon {
    display: none;
    align-items: center;
    justify-content: space-between;
    fill: $black;

    @include md {
        display: flex;
    }

    html[dir='ltr'] & {
        margin-left: 23px;
    }

    html[dir='rtl'] & {
        margin-right: 23px;
    }
}