nav {
    background-color: $back;
    padding: 10px 0 9px;
}

.mo-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-li {
    background-color: rgba($main, 0);
    border-radius: 4px;

    >.nav-a {
        line-height: 33px;
    }

    &.active {
        pointer-events: none;
        background-color: rgba($main, 0.1);
        padding: 0 10px;

        @include lg {
            padding: 0 18px;
        }

        .nav-a {
            color: $main;
        }
    }

    &.xs-link {
        display: none;
    }
}

.nav-a {
    font-size: 14px;
    color: $head;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        color: $main;
    }
}

.drop-link {
    position: relative;

    >.nav-a {
        display: flex;
        align-items: center;

        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 3px 0 3px;
            border-color: $head transparent transparent transparent;
            margin-right: 4px;
            @include transition(all 0.3s ease-in-out);

            #{$ltr} & {
                margin-right: 0;
                margin-left: 4px;
            }
        }
    }

    &:hover {
        >.nav-a {
            color: $main;

            &::after {
                border-color: $main transparent transparent transparent;
            }
        }

        .sub-div {
            visibility: visible;
            opacity: 1;
        }
    }
}

.sub-div {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    min-width: 150px;
    box-shadow: 0px 3px 14px #0000001A;
    border-radius: 8px;
    background-color: #fff;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s ease-in-out);

    &:before {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-width: 6px;
        border-color: transparent transparent #fff;
        border-style: solid;
        top: -12px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }
}

.sub-ul {
    padding: 10px 9px 12px;
    border: none;
}

.sub-li {
    width: 100%;
    border-bottom: 1px solid $pro;
    padding: 0 4px 10px;
    margin-bottom: 6px;
    text-align: center;

    &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
    }
}

.sub-a {
    font-size: 14px;
    color: $text;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        color: $main;
    }
}