.product {
    border: 1px solid $pro;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;

    .pro-img {
        padding-bottom: 113.636363636%;
        background-color: #fff;
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;

        img {
            transition: all 0.3s ease-in-out;
            transform: scale(0.95);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            img {
                transform: scale(1);
            }
        }
    }

    .pro-info {
        padding: 8.5px;
    }

    .pro-name {
        line-height: 1.4;
        height: 39px;
        display: flex;
        overflow: hidden;

        a {
            font-size: 15px;
            color: $text;
            display: inline-block;
            @include transition(all 0.3s ease-in-out);

            &:hover,
            &:focus {
                color: $main;
            }

            @include sm {
                font-size: 13px;
            }
        }
    }

    .mo-prices {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 8px;

        @include sm {
            padding: 0;
        }
    }

    .mo-price {
        font-size: 20px;
        color: $text;
        font-weight: bold;


        @include sm {
            font-size: 17px;
        }
    }

    .mo-oldprice {
        font-size: 11px;
        color: $price;
        text-decoration: line-through;
        margin-top: 10px;

        html[dir='ltr'] & {
            margin-left: 6px;
        }

        html[dir='rtl'] & {
            margin-right: 6px;
        }
    }

    .sale-cont {
        height: 17px;
    }

    .mo-sale {
        width: max-content;
        padding: 0 9px;
        height: 100%;
        background: $sale-back;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $sale;
        font-size: 13px;
        font-weight: 500;
    }
}