body {
    position: relative;
    font-family: tajawal;
    font-weight: normal;

    &::-webkit-scrollbar {
        background-color: #ede5e3;
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #d3b1af;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: #d3b1af #ede5e3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.overflow {
    overflow: hidden !important;
}

@media (min-width: 1450px) {
    .container {
        width: 1450px;
    }
}