@font-face {
    font-family: 'tajawal';
    src: url('../fonts/TAJAWAL/Tajawal-ExtraLight.woff2') format('woff2'),
        url('../fonts/TAJAWAL/Tajawal-ExtraLight.woff') format('woff'),
        url('../fonts/TAJAWAL/Tajawal-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'tajawal';
    src: url('../fonts/TAJAWAL/Tajawal-Light.woff2') format('woff2'),
        url('../fonts/TAJAWAL/Tajawal-Light.woff') format('woff'),
        url('../fonts/TAJAWAL/Tajawal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'tajawal';
    src: url('../fonts/TAJAWAL/Tajawal-Regular.woff2') format('woff2'),
        url('../fonts/TAJAWAL/Tajawal-Regular.woff') format('woff'),
        url('../fonts/TAJAWAL/Tajawal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tajawal';
    src: url('../fonts/TAJAWAL/Tajawal-Medium.woff2') format('woff2'),
        url('../fonts/TAJAWAL/Tajawal-Medium.woff') format('woff'),
        url('../fonts/TAJAWAL/Tajawal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'tajawal';
    src: url('../fonts/TAJAWAL/Tajawal-Bold.woff2') format('woff2'),
        url('../fonts/TAJAWAL/Tajawal-Bold.woff') format('woff'),
        url('../fonts/TAJAWAL/Tajawal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'tajawal';
    src: url('../fonts/TAJAWAL/Tajawal-ExtraBold.woff2') format('woff2'),
        url('../fonts/TAJAWAL/Tajawal-ExtraBold.woff') format('woff'),
        url('../fonts/TAJAWAL/Tajawal-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'tajawal';
    src: url('../fonts/TAJAWAL/Tajawal-Black.woff2') format('woff2'),
        url('../fonts/TAJAWAL/Tajawal-Black.woff') format('woff'),
        url('../fonts/TAJAWAL/Tajawal-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}