$black: #2A2A2A;
$head:#152636;
$text:#262626;
$main: #D3B1AF;
$place:#707070;

$back:#FAFAFA;

$cat:#BEBEBE;

$pro:#D1D1D1;
$sale:#BA1228;
$sale-back:#F2E3E6;
$price:#707070;

$green:#00BE5A;
$green-desc:#40775A;

$blue:#008EFF;
$blue-desc:#58738A;

$red:#661AF9;
$red-desc:#644F8B;

$footer:#676767;

$ltr: "html[dir='ltr']";
$rtl: "html[dir='rtl']";